pkgbase = python-executing
	pkgdesc = Get the currently executing AST node of a frame, and other information
	pkgver = 2.0.0
	pkgrel = 3
	url = https://github.com/alexmojaki/executing
	arch = any
	license = MIT
	checkdepends = ipython
	checkdepends = python-asttokens
	checkdepends = python-littleutils
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/alexmojaki/executing.git#tag=v2.0.0
	b2sums = 4d4c42729494d3900b59ef8c2c3cb5a53fdd609103337ae501f190a61fc0bc356efb575dd987f26eac4ef5ced3cb33b33946e73d7152ac540ef820c7142f011b

pkgname = python-executing
