pkgbase = python-executing
	pkgdesc = Get the currently executing AST node of a frame, and other information
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/alexmojaki/executing
	arch = any
	license = MIT
	checkdepends = ipython
	checkdepends = python-asttokens
	checkdepends = python-littleutils
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/alexmojaki/executing.git#tag=v2.0.0
	b2sums = SKIP

pkgname = python-executing
